<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EQUIPOS DE FÚLvo</title>
</head>
<body>
    <h1>Equipos de fUlvO</h1>
    <form action="/index" method="/fulvo">
        <label for="POST-oc">tus Equipos:</label>
        <input id="POST-oc2" type="humilde" name="tomi humilde">
        
        <input type="submit" value="guardar">
    </form>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">tomi humilde</h5>
            <p class="card-text">el tomi es un tipo humilde que tomi elevado a la 3 es = a super pop porque si</p>
            <a href="#" class="btn btn-primary">namemc</a>
        </div>
    </div>
    <h1>Información de la persona</h1>
    <p>Nombre: <%= equipardo.nombre %></p>
    <p>edad: <%= equipardo.edad %></p>
</body>
</html>